

.page-footer
    .section.section_bg_gradient-dark.section_padding_25-0-50.section_line_bottom
        .container
            .section__title.title
                .title__icon
                    .lines-icon.lines-icon_w_100.lines-icon_rotate_120
                        i.lines-icon__line
                        i.lines-icon__line.lines-icon__line_bg_gray
                        i.lines-icon__line
                h2.title__text Наши услуги
            .services-grid
                .services-grid__item
                    a(href='#').services-item
                        img(src='./images/icons/service1.svg').services-item__icon
                        .services-item__text VIP Такси
                .services-grid__item
                    a(href='#').services-item
                        img(src='./images/icons/service2.svg').services-item__icon
                        .services-item__text Аренда авто с водителем
                .services-grid__item
                    a(href='#').services-item
                        img(src='./images/icons/service3.svg').services-item__icon
                        .services-item__text Трасфер Воронеж
                .services-grid__item
                    a(href='#').services-item
                        img(src='./images/icons/service4.svg').services-item__icon
                        .services-item__text Трезвый водитель
                .services-grid__item
                    a(href='#').services-item
                        img(src='./images/icons/service5.svg').services-item__icon
                        .services-item__text Аренда микроавтобуса
                .services-grid__item
                    a(href='#').services-item
                        img(src='./images/icons/service6.svg').services-item__icon
                        .services-item__text Такси в аэропорт Воронежа


    .section.section_bg_dark.section_padding_25-0-50
        .container.container_width_900
            .section__title.title.title_footer
                .title__icon
                    .lines-icon.lines-icon_w_100.lines-icon_rotate_120
                        i.lines-icon__line
                        i.lines-icon__line.lines-icon__line_bg_gray
                        i.lines-icon__line
                h2.title__text Заказ такси межгород
                .title__descr.title__descr_mb_30 Круглосуточно без перерывов и выходных
                button(data-target-popup='feedback').slanting-button.js-open-popup
                    .slanting-button__bg
                    .slanting-button__bg-hover
                    .slanting-button__text ЗАКАЗ ТАКСИ

            .contacts-footer-grid
                .contacts-footer-grid__item
                    a(href='phone:+7 (473) 240 32 31').contact-item +7 (473) 240 32 31
                .contacts-footer-grid__item
                    a(href='phone:+7 (473) 240 32 31').contact-item +7 (473) 240 32 31
                .contacts-footer-grid__item
                    a(href='phone:+7 (473) 240 32 31').contact-item +7 (473) 240 32 31
                .contacts-footer-grid__item
                    a(href='mailto:zakaz@ecoled.pro').contact-item.contact-item_fz_20.contact-item_color_gray.tdu zakaz@ecoled.pro

    .page-footer__last-line
        .container
            .all-info-grid
                .all-info-grid__item © 2018  VIP TAXICAMRY - междугороднее такси
                .all-info-grid__item ИНН 366100099992
                .all-info-grid__item
                    a(href='#').all-info-grid__link Пользовательское соглашение
                .all-info-grid__item
                    a(href='#').all-info-grid__link HostCMS
                .all-info-grid__item
                    a(href='#').all-info-grid__link Создание сайта


.page__menu.mobile-menu.js-page-menu
    .mobile-menu__close
        button.close.js-page-menu-close
    .mobile-menu__nav
        ul.main-nav
            li.main-nav__item.main-nav-item
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text Главная
            li.main-nav__item.main-nav-item
                button.main-nav-item__toggle.js-toggle-dropmenu
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text Выбрать город
                    i.main-nav-item__link-arrow
                .main-nav-item__dropmenu
                    .dropmenu-box
                        .dropmenu-box__title Выберите ваш город
                        .dropmenu-box__content
                            ul.dropmenu-list
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Москва и Подмосковье
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Санкт-Петербург
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Барнаул
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Белгород
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Брянск
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Владивосток
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Владимир
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Волгоград
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Воронеж
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Грозный
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Екатеринбург
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Ижевск
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Москва и Подмосковье
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Санкт-Петербург
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Барнаул
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Белгород
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Брянск
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Владивосток
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Владимир
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Волгоград
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Воронеж
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Грозный
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Екатеринбург
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Ижевск
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Москва и Подмосковье
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Санкт-Петербург
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Барнаул
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Белгород
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Брянск
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Владивосток
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Владимир
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Волгоград
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Воронеж
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Грозный
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Екатеринбург
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link  Ижевск
            li.main-nav__item.main-nav-item
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text Услуги
            li.main-nav__item.main-nav-item
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text аэропортЫ
            li.main-nav__item.main-nav-item
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text тарифы
            li.main-nav__item.main-nav-item
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text автопарк
            li.main-nav__item.main-nav-item
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text Контакты

    .mobile-menu__phones
        .mobile-menu__phone
            a(href='tel:+7 (473) 240 32 31').contact-item
                img(src='./images/icons/phone.svg').contact-item__icon
                | +7 (473) 240 32 31
        .mobile-menu__phone
            a(href='tel:+7 (473) 240 32 31').contact-item
                img(src='./images/icons/phone.svg').contact-item__icon
                | +7 (473) 240 32 31



.page__overlay.js-popups-overlay.js-close-popups.js-close-menu
.page__popups.popups.js-popups
    .popups__popups-wrapper
        .popups__popup.popup(data-popup-name='feedback')
            .popup__close
                button.close.js-close-popups
            .popup__logo
                img(src='./images/icons/logo.svg').popup__logo-img
            .popup__title
                .title.title_footer
                    .title__text ЗАКАЗ ТАКСИ
            .popup__main
                form.form
                    .form__main
                        .form__grid
                            .form__grid-section
                                .form__line
                                    .input-box
                                        .input-box__title
                                            span.input-box__required-icon.color-red *
                                            |
                                            | ваше имя
                                        .input-box__content
                                            input(type='text' name='name').st-input.required
                                .form__line
                                    .input-box
                                        .input-box__title
                                            span.input-box__required-icon.color-red *
                                            |
                                            | телефон
                                        .input-box__content
                                            input(type='text' name='phone').st-input.required
                                .form__line
                                    .input-box
                                        .input-box__title
                                            span.input-box__required-icon.color-red *
                                            |
                                            | e-mail
                                        .input-box__content
                                            input(type='text' name='e-mail').st-input.required
                            .form__grid-section
                                .input-box
                                    .input-box__title Коментарий
                                    .input-box__content
                                        textarea(name='message').st-textarea
                    .form__info
                        | Нажимая кнопку, вы принимаете условия
                        |
                        a(href='#').form__info-link «Пользовательского соглашения» <br/>
                        |
                        | и даете
                        |
                        a(href='#').form__info-link «Согласие на обработку персональных данных»
                    .form__footer
                        button.slanting-button
                            .slanting-button__bg
                            .slanting-button__bg-hover
                            .slanting-button__text.slanting-button__text_fz_16 ЗАКАЗАТЬ ТАКСИ
