

.page-header
    .page-header__top-section
        .container.page-header__top-container
            .page-header__phone
                a(href='tel:+7 (473) 240 32 31').contact-item
                    img(src='./images/icons/phone.svg').contact-item__icon
                    | +7 (473) 240 32 31
            .page-header__logo
                a(href='#').header-logo
                    img(src='./images/icons/logo.svg').header-logo__img
            .page-header__phone
                a(href='tel:+7 (473) 240 32 31').contact-item
                    img(src='./images/icons/phone.svg').contact-item__icon
                    | +7 (473) 240 32 31
    .page-header__bottom-substrate.js-header-substrate
    .page-header__bottom-section.js-header-menu
        .container.page-header__mobile-container
            .page-header__mobile-phone
                a(href='tel:+7 (473) 240 32 31').contact-item
                    img(src='./images/icons/phone.svg').contact-item__icon
                    | +7 (473) 240 32 31
            .page-header__hamburger
                button.hamburger.js-page-menu-open
                    i.hamburger__line.hamburger__line_top
                    i.hamburger__line
                    i.hamburger__line.hamburger__line_bottom
            .page-header__bottom-container
                .page-header__nav-more-button
                    button(data-target-popup='feedback').slanting-button.js-open-popup
                        .slanting-button__bg
                        .slanting-button__bg-hover
                        .slanting-button__text ЗАКАЗ ТАКСИ
                ul.main-nav
                    li.main-nav__item.main-nav-item
                        a(href='#').main-nav-item__link
                            span.main-nav-item__link-text Главная
                    li.main-nav__item.main-nav-item
                        a(href='#').main-nav-item__link
                            span.main-nav-item__link-text Выбрать город
                            i.main-nav-item__link-arrow
                        .main-nav-item__dropmenu
                            .dropmenu-box
                                .dropmenu-box__title Выберите ваш город
                                .dropmenu-box__content
                                    ul.dropmenu-list
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Москва и Подмосковье
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Санкт-Петербург
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Барнаул
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Белгород
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Брянск
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Владивосток
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Владимир
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Волгоград
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Воронеж
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Грозный
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Екатеринбург
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Ижевск
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Москва и Подмосковье
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Санкт-Петербург
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Барнаул
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Белгород
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Брянск
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Владивосток
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Владимир
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Волгоград
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Воронеж
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Грозный
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Екатеринбург
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Ижевск
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Москва и Подмосковье
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Санкт-Петербург
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Барнаул
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Белгород
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Брянск
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Владивосток
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Владимир
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Волгоград
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Воронеж
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Грозный
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Екатеринбург
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Ижевск
                    li.main-nav__item.main-nav-item
                        a(href='#').main-nav-item__link
                            span.main-nav-item__link-text Услуги
                    li.main-nav__item.main-nav-item
                        a(href='#').main-nav-item__link
                            span.main-nav-item__link-text аэропорты
                            i.main-nav-item__link-arrow
                        .main-nav-item__dropmenu
                            .dropmenu-box
                                .dropmenu-box__content
                                    ul.dropmenu-list.dropmenu-list_one-line
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Москва и Подмосковье
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Санкт-Петербург
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Барнаул
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Белгород
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Брянск
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Владивосток
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Владимир
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Волгоград
                                        li.dropmenu-list__item
                                            a(href='#').dropmenu-list__link  Воронеж
                    li.main-nav__item.main-nav-item
                        a(href='#').main-nav-item__link
                            span.main-nav-item__link-text тарифы
                    li.main-nav__item.main-nav-item
                        a(href='#').main-nav-item__link
                            span.main-nav-item__link-text автопарк
                    li.main-nav__item.main-nav-item
                        a(href='#').main-nav-item__link
                            span.main-nav-item__link-text Контакты
