include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Микро автобус')
        include pug/styles.pug

    body
        .page
            include pug/components/header

            main.page__main
                .preview-section(style='background-image: url("./images/previews-full/voronezh-moscow.jpg")')
                    .container.preview-section__container
                        .preview-section__breadcrumbs
                            .container
                                nav.breadcrumbs
                                    a(href='#').breadcrumbs__item Главная
                                    span.breadcrumbs__item Междугороднее  такси
                        .preview-section__header
                            .main-title-box.main-title-box_v1
                                .main-title-box__title
                                    h1.page-title такси <br/> Воронеж - Москва
                        .preview-section__distance
                            .distance
                                img(src='./images/icons/distance.svg').distance__icon
                                .distance__section
                                    p.distance__fz40 Расстояние
                                .distance__section
                                    p.distance__fz50 500 км
                                    p.distance__fz25 Время в пути 5 часов




                .section.section_bg_gradient-dark
                    .container.container_width_1100
                        .infographic-grid
                            .infographic-grid__item.infographic-grid-item
                                .infographic-grid-item__icon-box
                                    img(src='./images/icons/infographic1.svg').infographic-grid-item__icon
                                .infographic-grid-item__content Автомобили <br/> бизнес-класса
                            .infographic-grid__item.infographic-grid-item
                                .infographic-grid-item__icon-box
                                    img(src='./images/icons/infographic2.svg').infographic-grid-item__icon
                                .infographic-grid-item__content Мы работаем куглосуточно!
                            .infographic-grid__item.infographic-grid-item
                                .infographic-grid-item__icon-box
                                    img(src='./images/icons/infographic3.svg').infographic-grid-item__icon
                                .infographic-grid-item__content Профессиональные водители
                            .infographic-grid__item.infographic-grid-item
                                .infographic-grid-item__icon-box
                                    img(src='./images/icons/infographic4.svg').infographic-grid-item__icon
                                .infographic-grid-item__content Индивидуальный подход к каждому

                .section.section_bg_gradient-light.section_padding_70-0-0
                    .section__section
                        .container.container_width_900
                            .description-box
                                .description-box__icon.description-box__icon_pos_middle
                                    .lines-icon.lines-icon_w_100.lines-icon_rotate_60
                                        i.lines-icon__line
                                        i.lines-icon__line.lines-icon__line_bg_dark
                                        i.lines-icon__line
                                .description-box__title.description-box__title_fz_35.tac Стоимость такси Воронеж - Москва
                                .description-box__prices-grid
                                    .description-box__price-grid
                                        .description-box__price-item
                                            .description-box__inner.description-box__inner_price
                                                .description-box__price-title Комфорт - класс
                                                .description-box__price-value 12 000 &#8381;
                                                .description-box__price-button
                                                    button.slanting-button
                                                        .slanting-button__bg
                                                        .slanting-button__bg-hover
                                                        .slanting-button__text ЗАКАЗать
                                        .description-box__price-item
                                            .description-box__inner.description-box__inner_price
                                                .description-box__price-title Комфорт - класс
                                                .description-box__price-value 12 000 &#8381;
                                                .description-box__price-button
                                                    button.slanting-button
                                                        .slanting-button__bg
                                                        .slanting-button__bg-hover
                                                        .slanting-button__text ЗАКАЗать
                                .description-box__distance Расстояние 500 км

                    .section__section
                        .container.container_width_700
                            .st-text-box
                                p Предлагаемые нами на прокат микроавтобусы будут различаться не только по своей комфортабельности, но также по своей технической оснащенности. Если вам нужно встретить своих деловых партнеров, то вы можете выбрать для этой цели междугородное такси VIP-класса с комфортной и дорогой отделкой и более удобными креслами. В таких микроавтобусах будут удобно складывающиеся небольшие столики, ноутбук, DVD-проигрыватель и бар.
                                p Заказав микроавтобус для экскурсии в Воронеже, вы получите транспортное средство, имеющее особую комплектацию в виде наушников для информации туристов, микрофона для экскурсовода. Панорамные стёкла, не покрывающиеся инеем зимой и не запотевающие летом, дают возможность хорошего обзора достопримечательностей. К разнообразным предлагаемым в этом случае дополнением можно ещё отнести телевизор или музыкальную систему, кофеварку и холодильник с разнообразными прохладительными напитками.
                    .section__section
                        .section__title
                            .title
                                .title__icon
                                    .lines-icon.lines-icon_w_100.lines-icon_rotate_120
                                        i.lines-icon__line
                                        i.lines-icon__line.lines-icon__line_bg_dark
                                        i.lines-icon__line
                                h2.title__text Популярные направления

                        .full-images-grid
                            .full-images-grid__item
                                .advantages-box
                                    img(src='./images/previews/minibus/preview2.jpg').advantages-box__image
                                    .advantages-box__content
                                        .advantages-box__title.advantages-box__title_fz_30 Бысто и с комфортом
                            .full-images-grid__item
                                .advantages-box
                                    img(src='./images/previews/minibus/preview3.jpg').advantages-box__image
                                    .advantages-box__content
                                        .advantages-box__title.advantages-box__title_fz_30 БИЗНЕСС ПОЕЗДКИ
                            .full-images-grid__item
                                .advantages-box
                                    img(src='./images/previews/minibus/preview4.jpg').advantages-box__image
                                    .advantages-box__content
                                        .advantages-box__title.advantages-box__title_fz_30 экскурсии и туризм
                            .full-images-grid__item
                                .advantages-box
                                    img(src='./images/previews/minibus/preview4.jpg').advantages-box__image
                                    .advantages-box__content
                                        .advantages-box__title.advantages-box__title_fz_30 экскурсии и туризм


            include pug/components/footer


        include pug/scripts.pug
